@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
body {
    position: fixed;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 1000%;
    font-size: 12px;

    background-color: #f4f4f4;
    background-image: url('https://images.unsplash.com/photo-1469428946640-844b286ebf50?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=938d44c6ce660d4052098b808c31e1b0&auto=format&fit=crop&w=1350&q=80');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
}

a {
    color: #fff;
    text-decoration: none;
    outline: none
}

a:hover,
a:active {
    text-decoration: none;
    color: #fff;
    background-color: #f5e000;
}

.wrapper {
    width: 1050px;
    height: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1050px;
    grid-template-rows: 80px 600px 400px;
}


header {

    height: 80px;
    display: inline;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#787878+0,323232+97,787878+97,9b9b9b+100&0.4+0,0.75+97,0.55+99 */
    background: -moz-linear-gradient(top, rgba(120, 120, 120, 0.4) 0%, rgba(120, 120, 120, 0.75) 97%, rgba(143, 143, 143, 0.55) 99%, rgba(155, 155, 155, 0.55) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(120, 120, 120, 0.1) 0%, rgba(120, 120, 120, 0.75) 97%, rgba(143, 143, 143, 0.55) 99%, rgba(155, 155, 155, 0.55) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(120, 120, 120, 0.2) 0%, rgba(120, 120, 120, 0.4) 97%, rgba(143, 143, 143, 0.2) 99%, rgba(155, 155, 155, 0.2) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66787878', endColorstr='#8c9b9b9b', GradientType=0);
    /* IE6-9 */
}

header ul .logo {
    display: inline-block;
}

header ul .logo img {
    position: relative;
    top: -32px;
    left: 300px;
    width: 300px;
    height: 60px;
    margin: 10px 30px;
}

header nav {
    display: inline-block;
    position: relative;
    top: -28px;
}

header nav ul li a {
    display: inline-block;
    text-decoration: none;
    outline: none;
    font-size: 1.5rem;
}

header nav ul .order {
    position: relative;
    top: -86px;
    left: 750px;
}

header nav ul .profile {
    position: relative;
    top: -111px;
    left: 850px;
}

.icon-menu img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: inline-block;
    position: relative;

    top: 40px;
    left: 10px;
    cursor: pointer;
}

.main-menu {
    z-index: 999;
    padding: 0;
    list-style: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 107px;
    left: 0;
    margin: 0;
    background: rgba(255, 160,122, 0.98);
    color: #fff;
    width: 240px;
    height: 100vh;
    padding-left: 70px;
    box-sizing: border-box;
    margin-left: -324px;
    -webkit-transition: margin-left 0.25s;
    -moz-transition: margin-left 0.25s;
    -ms-transition: margin-left 0.25s;
    -o-transition: margin-left 0.25s;
    transition: margin-left 0.25s;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
}

.main-menu.active {
    margin-left: 0;
}

.main-menu > li {
    margin: 15px 0 14px;
}

.main-menu p {
    display: inline-block;
    text-align: center;
}

.main-menu li {
    font-size: 16px;
    font-weight: 600;
}

.profile_img img {
    border-radius: 50px;
}


a:hover,
a:active {
    text-decoration: none;
    color: #fff;
    background-color: #f59000;
}


#content {
    width: 100%;
    height: auto;
    margin-top: 7%;
}

.introduce {
    width: 350px;
    height: 400px;
    margin-top: 3%;
    margin-left: 3%;
}

.introduce p {
    position: relative;
    text-align: center;
    top: 160px;
    font-size: 2.5rem;
    color: azure;
    font-family: 'Hanna', serif, bold;
    text-shadow: 1px 1px 25px rgba(104, 104, 104, 1);
}

.introduce strong {
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(255, 150, 150, 1);
    
}

#content .list p {
    text-align: center;
    font-size: 18px;
    margin:0;
    margin-top: 8px;
    
    background: #55ffaa;
    background: -webkit-linear-gradient(left, #e1eec3, #f05053);
    background:    -moz-linear-gradient(right,#e1eec3, #f05053);
    background:      -o-linear-gradient(right, #e1eec3, #f05053);
    background:         linear-gradient(to right, #e1eec3, #f05053);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    font-size: 24px;
    font-weight: 900;
    text-shadow: 0px 0px 10px rgba(255, 169, 153, 0.52);
}

.list {
    width: 450px;
    height: 500px;
    margin-top: -40%;
    margin-right: 7%;
    float: right;

    background-color: rgba(250, 250, 250, 0.96);
    -webkit-box-shadow: 5px 5px 94px 0px rgba(157, 184, 172, 1);
    -moz-box-shadow: 5px 5px 94px 0px rgba(157, 184, 172, 1);
    box-shadow: 5px 5px 94px 0px rgba(157, 184, 172, 1);
    border-radius: 30px;
}

.list hr {
    position: relative;
    width: 400px;
    border: solid 1px #dddddd;
    margin: 0;
    left: 20px;
    top: 12px;
}

.list ul {
    height: 25px;
    margin: 15px;
}

.list ul .title:hover {
    background-color: lightcoral;
    color: white;
}

.list ul li {
    display: inline;
    font-size: 16px;
    margin: 3px;
    padding: 0px;
    top: 5px;
}

.list ul .title {
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    margin: 3px;
}

.list ul .shop {
    width: 30%;
}

.list ul .item {
    width: 30%;
}

.list ul .price {
    width: 30%;
}

footer {
    display: float;
    bottom: 100px;
}